<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        {{!--Favicon link  --}}
        <link rel="icon" type="image/png" href="/public/assets/images/####.png"
        {{!-- Link to CSS --}}
        <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css"/>
        {{!-- bootstrap link --}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
        {{!-- bootswatch theme --}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-IzI0oYQkUWBlg1pHwxuQHkY3lDjpB6aHpvi1eomAYMJlD7yk+TvMZoRXt0Wk31WJ" crossorigin="anonymous">">

        <title>Git-N-My Belly</title>

     
    </head>
    <body>

{{{body}}}



    </body>

 <script src="https://code.jquery.com/jquery.js"></script>
      <script src="../../public/assets/js/burgers.js"></script>
    </html>