<tr class="table-dark">
    <td>
        {{burger_name}}
    </td>
    <td>
       <button type="button" class="btn btn-info" id="devourMe" data-id="{{id}}" data-newdevoured="{{devoured}}">
          Feed da Belly!
      </button>

    </td>
</tr>